@import 'styl/*'

body
    background primary
    color: red
    border: solid 1px @color
    main 
        color primary
        border solid 1px @color
        border-radius 10px
        clear-fix()