@import 'styl/*'

add(a = 0, b = 0, c = 0)
    a + b + c

multipleValues(a, b)
    return a b
    
body
    background primary
    color red
    border solid 1px @color
    margin-left add(1,2,3)
    main
        margin-left multipleValues(10px, 5px)
        color primary
        transition(all 0.2 ease)
        border solid 1px @color
        border-radius 10px
        clear-fix()